.checkboxWrapper {
  @apply appearance-none
    h-4
    w-4
    border
    border-gray-300
    rounded-sm
    bg-white
    mr-4
    bg-[url('/img/checked.svg')]
    checked:bg-primary
    checked:border-primary


      focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer;
}
.checkboxLabel {
  @apply uppercase
  text-ellipsis
  text-md
  font-semibold;
}
